<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!--    1.配置数据源，交给spring去做-->

<!--    配置分页插件,交给spring去做-->

<!--    2.给pojo包下的所有类取别名-->
    <typeAliases>
        <package name="com.kk.pojo"/>
    </typeAliases>


</configuration>
